In [21]:
# Dependencies and Setup
# Water consumption
import pandas as pd
from pathlib import Path
import numpy as np
import matplotlib.pyplot as plt
import scipy.stats as st

In [22]:
# File to Load
path = Path("Resources/austin_water.csv")
customer_data_df = pd.read_csv(path)
customer_data_df

       Year Month  Postal Code             Customer Class  Total Gallons
0          201201        78613  Irrigation - Multi-Family          11000
1          201201        78613               Multi-Family          23000
2          201201        78617                Residential       19840800
3          201201        78617               Multi-Family        2477000
4          201201        78652   Irrigation - Residential          38500
...           ...          ...                        ...            ...
16815      202009        78758               Multi-Family       57603300
16816      202009        78759   Irrigation - Residential         114500
16817      202009        78759               Multi-Family       45024600
16818      202009        78759  Irrigation - Multi-Family        3684700
16819      202009        78759                Residential       84548700

[16820 rows x 4 columns]

In [23]:
#Filtering data to only include relevant month and year
customer_data_df['Year Month'] = pd.to_datetime(customer_data_df['Year Month'], format='%Y%m')
filtered_data = customer_data_df[(customer_data_df['Year Month'].dt.year >= 2013) & (customer_data_df['Year Month'].dt.year <= 2017)]
filtered_data

      Year Month  Postal Code             Customer Class  Total Gallons
1850  2013-01-01        78613  Irrigation - Multi-Family          15000
1851  2013-01-01        78613               Multi-Family          20000
1852  2013-01-01        78617   Irrigation - Residential            200
1853  2013-01-01        78617                Residential       21866800
1854  2013-01-01        78617               Multi-Family        2920900
...          ...          ...                        ...            ...
11397 2017-12-01        78758   Irrigation - Residential          40000
11398 2017-12-01        78759  Irrigation - Multi-Family         996500
11399 2017-12-01        78759               Multi-Family       34477800
11400 2017-12-01        78759   Irrigation - Residential          51500
11401 2017-12-01        78759                Residential       46189100

[9550 rows x 4 columns]

In [24]:
#Grouping the data by zip code and calculate the total gallons consumed
zip_code_totals = filtered_data.groupby(['Postal Code', 'Year Month'])['Total Gallons'].sum()


#Sorting the postal codes in descending order
sorted_zip_codes = zip_code_totals.sort_values(ascending=False)
sorted_zip_codes

Postal Code  Year Month
78759        2015-08-01    169995000
             2013-09-01    162469000
             2015-09-01    157453000
             2014-09-01    155863200
             2013-08-01    152678000
                             ...
78712        2014-06-01            0
             2014-07-01            0
             2014-08-01            0
             2014-09-01            0
             2013-04-01            0
Name: Total Gallons, Length: 2735, dtype: int64

In [25]:
#Zip codes with the highest total monthly water consumption
top_10_zip = print(sorted_zip_codes.head(10))

Postal Code  Year Month
78759        2015-08-01    169995000
             2013-09-01    162469000
             2015-09-01    157453000
             2014-09-01    155863200
             2013-08-01    152678000
             2013-07-01    147049700
             2014-08-01    146901400
78745        2013-07-01    146672400
             2013-08-01    145974400
             2015-08-01    143094500
Name: Total Gallons, dtype: int64