In [1]:
# Dependencies and Setup
# Water consumption
import pandas as pd
from pathlib import Path

In [2]:
# File to Load (Remember to Change These)
path = Path("Resources/austin_water.csv")
customer_data_df = pd.read_csv(path)
customer_data_df

       Year Month  Postal Code             Customer Class  Total Gallons
0          201201        78613  Irrigation - Multi-Family          11000
1          201201        78613               Multi-Family          23000
2          201201        78617                Residential       19840800
3          201201        78617               Multi-Family        2477000
4          201201        78652   Irrigation - Residential          38500
...           ...          ...                        ...            ...
16815      202009        78758               Multi-Family       57603300
16816      202009        78759   Irrigation - Residential         114500
16817      202009        78759               Multi-Family       45024600
16818      202009        78759  Irrigation - Multi-Family        3684700
16819      202009        78759                Residential       84548700

[16820 rows x 4 columns]