In [1]:
# Dependencies and Setup
# Water consumption
import pandas as pd
from pathlib import Path
import numpy as np
import matplotlib.pyplot as plt
import scipy.stats as st

In [2]:
# File to Load
path = Path("Resources/austin_water.csv")
customer_data_df = pd.read_csv(path)
customer_data_df

       Year Month  Postal Code             Customer Class  Total Gallons
0          201201        78613  Irrigation - Multi-Family          11000
1          201201        78613               Multi-Family          23000
2          201201        78617                Residential       19840800
3          201201        78617               Multi-Family        2477000
4          201201        78652   Irrigation - Residential          38500
...           ...          ...                        ...            ...
16815      202009        78758               Multi-Family       57603300
16816      202009        78759   Irrigation - Residential         114500
16817      202009        78759               Multi-Family       45024600
16818      202009        78759  Irrigation - Multi-Family        3684700
16819      202009        78759                Residential       84548700

[16820 rows x 4 columns]

In [4]:
#filtering data to only include relevant month and year
customer_data_df['Year Month'] = pd.to_datetime(customer_data_df['Year Month'], format='%Y%m')
filtered_data = customer_data_df[(customer_data_df['Year Month'].dt.year >= 2013) & (customer_data_df['Year Month'].dt.year <= 2017)]
filtered_data

      Year Month  Postal Code             Customer Class  Total Gallons
1850  2013-01-01        78613  Irrigation - Multi-Family          15000
1851  2013-01-01        78613               Multi-Family          20000
1852  2013-01-01        78617   Irrigation - Residential            200
1853  2013-01-01        78617                Residential       21866800
1854  2013-01-01        78617               Multi-Family        2920900
...          ...          ...                        ...            ...
11397 2017-12-01        78758   Irrigation - Residential          40000
11398 2017-12-01        78759  Irrigation - Multi-Family         996500
11399 2017-12-01        78759               Multi-Family       34477800
11400 2017-12-01        78759   Irrigation - Residential          51500
11401 2017-12-01        78759                Residential       46189100

[9550 rows x 4 columns]

In [7]:
#Grouping the data by zip code and calculate the total gallons consumed
zip_code_totals = filtered_data.groupby('Postal Code')['Total Gallons'].sum()
#zip_code_totals

#Sorting the postal codes in descending order

Postal Code
78613     147379600
78617    1424622600
78652     117449500
78653      85421200
78660     604205300
78701     981504500
78702    2266008500
78703    4093578900
78704    5988662900
78705    2749381300
78712             0
78717    3105753100
78719     123973900
78721    1119279400
78722     675216600
78723    3439342500
78724    1984994900
78725     172066500
78726    2118635000
78727    3807507000
78728     858839500
78729    2815297800
78730    1688955000
78731    5074019500
78735    2022458600
78736    1054126100
78737     517396300
78738        385000
78739    2727112000
78741    5948542900
78742      62116900
78744    4676178400
78745    6594121600
78746    3312568400
78747    1991555500
78748    5772959200
78749    5032387200
78750    4329367300
78751    1767045900
78752    1938386100
78753    6211714600
78754    2442129700
78756    1048822400
78757    2916096700
78758    5450300400
78759    6447478500
Name: Total Gallons, dtype: int64