In [2]:
# Dependencies
import requests
import json
import pandas as pd
# Import the API key
from config import api_key
import csv

### Water consumption

In [3]:
# Dependencies and Setup
# Water consumption
import pandas as pd
from pathlib import Path

# File to Load (Remember to Change These)
path = Path("Resources/austin_water.csv")

customer_data_df = pd.read_csv(path)
customer_data_df

       Year Month  Postal Code             Customer Class  Total Gallons
0          201201        78613  Irrigation - Multi-Family          11000
1          201201        78613               Multi-Family          23000
2          201201        78617                Residential       19840800
3          201201        78617               Multi-Family        2477000
4          201201        78652   Irrigation - Residential          38500
...           ...          ...                        ...            ...
16815      202009        78758               Multi-Family       57603300
16816      202009        78759   Irrigation - Residential         114500
16817      202009        78759               Multi-Family       45024600
16818      202009        78759  Irrigation - Multi-Family        3684700
16819      202009        78759                Residential       84548700

[16820 rows x 4 columns]

#### Clean Data

#### Total water consumption by month

In [4]:
customer_data_df['Year Month'] = pd.to_datetime(customer_data_df['Year Month'], format='%Y%m')

customer_monthly_total= customer_data_df.groupby('Year Month',as_index=False)['Total Gallons'].sum()
customer_monthly_total

    Year Month  Total Gallons
0   2012-01-01     1729505700
1   2012-02-01     1512253200
2   2012-03-01     1648245943
3   2012-04-01     1766869789
4   2012-05-01     2212481568
..         ...            ...
100 2020-05-01     2009850900
101 2020-06-01     2343426200
102 2020-07-01     2693843700
103 2020-08-01     2811097800
104 2020-09-01     2738747500

[105 rows x 2 columns]

# Weather Dataframe

In [5]:

import pandas as pd
from pathlib import Path

# File to Load (Remember to Change These)
path = Path("Resources/austin_weather.csv")

weather_data_df = pd.read_csv(path)
weather_data_df

,Date,TempHighF,TempAvgF,TempLowF,DewPointHighF,DewPointAvgF,DewPointLowF,HumidityHighPercent,HumidityAvgPercent,HumidityLowPercent,...,SeaLevelPressureAvgInches,SeaLevelPressureLowInches,VisibilityHighMiles,VisibilityAvgMiles,VisibilityLowMiles,WindHighMPH,WindAvgMPH,WindGustMPH,PrecipitationSumInches,Events
0,2013-12-21,74,60,45,67,49,43,93,75,57,...,29.68,29.59,10,7,2,20,4,31,0.46,"Rain , Thunderstorm"
1,2013-12-22,56,48,39,43,36,28,93,68,43,...,30.13,29.87,10,10,5,16,6,25,0,
2,2013-12-23,58,45,32,31,27,23,76,52,27,...,30.49,30.41,10,10,10,8,3,12,0,
3,2013-12-24,61,46,31,36,28,21,89,56,22,...,30.45,30.3,10,10,7,12,4,20,0,
4,2013-12-25,58,50,41,44,40,36,86,71,56,...,30.33,30.27,10,10,7,10,2,16,T,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1314,2017-07-27,103,89,75,71,67,61,82,54,25,...,29.97,29.88,10,10,10,12,5,21,0,
1315,2017-07-28,105,91,76,71,64,55,87,54,20,...,29.9,29.81,10,10,10,14,5,20,0,
1316,2017-07-29,107,92,77,72,64,55,82,51,19,...,29.86,29.79,10,10,10,12,4,17,0,
1317,2017-07-30,106,93,79,70,68,63,69,48,27,...,29.91,29.87,10,10,10,13,4,20,0,
1318,2017-07-31,99,88,77,66,61,54,64,43,22,...,29.97,29.91,10,10,10,12,4,20,0,

#### Weather group by Average temp

In [6]:
# Group by 'Date' and calculate the sum of 'TempAvgF'
weather_data_df['Date'] = weather_data_df['Date'].str[:-3]
weather_monthly_total= weather_data_df.groupby('Date',as_index=False)['TempAvgF'].mean()
weather_monthly_total

       Date   TempAvgF
0   2013-12  48.818182
1   2014-01  50.870968
2   2014-02  55.178571
3   2014-03  59.064516
4   2014-04  69.400000
5   2014-05  74.806452
6   2014-06  82.700000
7   2014-07  84.580645
8   2014-08  87.354839
9   2014-09  80.800000
10  2014-10  74.741935
11  2014-11  55.966667
12  2014-12  55.322581
13  2015-01  48.935484
14  2015-02  51.607143
15  2015-03  60.483871
16  2015-04  71.433333
17  2015-05  75.419355
18  2015-06  81.333333
19  2015-07  85.838710
20  2015-08  87.645161
21  2015-09  83.566667
22  2015-10  74.806452
23  2015-11  61.766667
24  2015-12  57.290323
25  2016-01  52.161290
26  2016-02  60.172414
27  2016-03  66.322581
28  2016-04  70.300000
29  2016-05  74.419355
30  2016-06  83.300000
31  2016-07  88.258065
32  2016-08  84.645161
33  2016-09  82.700000
34  2016-10  75.903226
35  2016-11  65.900000
36  2016-12  55.290323
37  2017-01  56.838710
38  2017-02  64.678571
39  2017-03  68.806452
40  2017-04  72.033333
41  2017-05  76.580645
42  2017-06  84.233333
43  2017-07  89.161290

### Merge